
body{
    margin-top: 5%;
    padding: 2%;
}

.display-1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: black;
}

.container-fluid{
    margin: 4%;
    padding: 1%;
    border: 3px solid black;
    background-color: azure;
}

.img-thumbnail{
    width: 25%;
    height: 25%;
}

.card-body{
    border: 3px solid black;
    background-color: azure;
}

.col-md-4{
    border: 3px solid black;
}

.card-text{
    text-align: center;
    color: black;
}

